@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --my-color: #fff;
}
[data-theme='dark'] {
  --my-color: #000;
}
[data-theme='pink'] {
  --my-color: #ffabc8;
} */

/* body {
  background-color: var(--my-color);
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
